{% extends 'base.html' %}

{% block title %} Home - Todo{% endblock title %}

{% block body %}
<div class="container my-3">
  <form action="/" method="POST">
    <div class="mb-3">
      <label for="task" class="form-label">Task</label>
      <input type="text" class="form-control" id="task" name="task" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="desc" class="form-label">Description</label>
      <input type="text" class="form-control" name="desc" id="desc">
    </div>
    <button type="submit" class="btn btn-dark">Submit</button>
  </form>
</div>
<div class="container my-3">
  {% if allTodo|length == 0 %}
  <div class="alert alert-dark" role="alert">
    Todos list is empty. Please add Todo.
  </div>
  {% else %}
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Sno</th>
        <th scope="col">Task</th>
        <th scope="col">Description</th>
        <th scope="col">Timestamp</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {% for todo in allTodo %}
      <tr>
        <th scope="row">{{loop.index}}</th>
        <td>{{todo.task}}</td>
        <td>{{todo.desc}}</td>
        <td>{{todo.created}}</td>
        <td>
          <a type="button" href="/update/{{todo.sno}}" class="btn btn-sm btn-outline-dark mx-1">Update</a>
          <a type="button" href="/delete/{{todo.sno}}" class="btn btn-sm btn-outline-dark mx-1">Delete</a>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% endif %}

</div>
{% endblock body %}